*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    background-color: rgb(223, 236, 236);
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}

.main-container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-image: url('../images/pattern-background-desktop.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.form-container{
    margin: auto;
    height: auto;
    min-width: 300px;
    width: 30%;
    max-width: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgb(199, 199, 199);
}

.form-container img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.form-header{
    width: 100%;
}

.form-title {
    color: darkblue;
}
.form-body{
    padding: 45px;
    text-align: center;
}

.plan-info{
    background-color: rgb(185, 219, 219);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
}

.plan-icon {
    max-height: 50px;
    max-width: 50px;
}

.plan-info-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-left{
    text-align: left;
}

.margin-left-20{
    margin-left: 20px;
}

.pay-button {
    margin-top: 15px;
    padding: 15px 0 15px 0;
    width: 100%;
    box-shadow: 10px 10px 5px gray;
    border-radius: 10px;
    color: white;
    background-color: rgb(0, 0, 207);
    cursor: pointer;
}

.pay-button:hover{
    opacity: 0.6;
}

.cancel-button {
    margin-top: 15px;
    padding: 15px 0 15px 0;
    width: 100%;
    background: white;
    color: rgb(0, 0, 207);
    cursor: pointer;
}

.cancel-button:hover{
    color: darkblue;
}

.link-change:hover{
    text-decoration: none;
}

.margin-top-20{
    margin-top: 20px;
}